[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "Toisto"
version = "0.8.1"
authors = [
  { name="Frank Niessink", email="frank@niessink.com" },
]
description = "Toisto is a command-line terminal app to practice languages."
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: End Users/Desktop",
    "License :: OSI Approved :: Apache Software License",
    "Natural Language :: English",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Education",
]
dependencies = [
    "gTTS >= 2.3.0",
    "playsound >= 1.3.0",
    "requests >= 2.28.2",
    "rich >= 12.6.0",
    "rich-argparse >= 1.0.0",
]

[project.optional-dependencies]
dev = [
    "black == 23.1.0",
    "build == 0.10.0",
    "coverage == 7.1.0",
    "green == 3.4.3",
    "mypy == 1.0.0",
    "pip == 23.0",
    "ruff == 0.0.246",
    "twine == 4.0.2",
    "types-playsound == 1.3.1.1",
    "types-requests == 2.28.11.12"
]

[project.scripts]
toisto = "toisto.app:main"

[project.urls]
"Homepage" = "https://github.com/fniessink/toisto"
"Issue tracker" = "https://github.com/fniessink/toisto/issues"
"Changelog" = "https://github.com/fniessink/toisto/blob/main/CHANGELOG.md"

[tool.black]
line-length = 120

[tool.coverage.run]
branch = true
source = ["src", "tests"]

[tool.coverage.report]
fail_under = 100
skip_covered = true

[[tool.mypy.overrides]]
module = [
    "gtts"
]
ignore_missing_imports = true

[tool.ruff]
target-version = "py310"
line-length = 120
select = ["ALL"]
ignore = ["ANN101", "ANN102", "C408", "D107", "D203", "D213", "DTZ005", "FBT003", "PT", "TCH001", "TCH002", "TCH003", "TID252"]

[tool.ruff.per-file-ignores]
"src/toisto/app.py" = ["E402"]
"src/toisto/ui/speech.py" = ["FBT001", "FBT002"]
"__init__.py" = ["D104"]
"tests/*" = ["ANN201"]

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
topics = ["*.json"]
